body {
  background-color: #FFCECE;
  font-family: geneva;
}

h1 {
  font-family: geneva;
  color: white;
  font-size: 50px;
  text-align: center;
}

.collapse-card {
  background-color: white;
  border-bottom: 1px solid #FFCECE;
  cursor: pointer;
  color: #A2A2A2;
  margin-left: 400px;
  margin-right: 400px;
  padding: 30px;
}

.collapse-card .body {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.collapse-card.active {
  margin-right: 400px;
  margin-left: 400px;
}